
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700,800&display=swap');
:root {

    /* Eenheden */
    --margin-right: 80px;
    --margin-left: 80px;
    --unit-deca: 10rem;
    --unit-large: 2rem;
    --unit-default: 1rem;
    --unit-small: 0.5rem;
    --unit-micro: 0.25rem;
    --unit-nano: 0.125rem;
    --unit-pico: .5px;

    /* Kleuren */
    --grey: #6B7071;
    --dark-grey: #333333;
    --black: #000000;
    --white: #ffffff;
    --yellow: #FFE704;
    --beige: #F0F0E9;
    --blue: #019CE0;
    --color-primary: #121212;
    --color-primary-50: #495057;
    --color-secundary: #f7f7f7;
    --color-secundary-pure: #fff;
    --color-accent-100: #aaa;
    --color-accent-75: #f0eded;
    --color-accent-50: #f0f0eb;
    --color-blue: #0594c6;

    /* Font */
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-weight-200:200;
    --font-weight-300:300;
    --font-weight-400:400;

    /* Schaduwen  */
    --shadow-default: 0px 2px 8px rgba(135, 135, 135, 0.1), 0px 4px 4px -2px rgba(135, 135, 135, 0.12), 0px 8px 16px -4px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*,::before, ::after{
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:transparent
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: var(--font-weight-400);
    line-height: 1.5;
    color: var(--dark-grey);
    text-align: left;

}
/* Interactief */
a {
    text-decoration: none;
}

a:hover, button:hover, input:hover {
    cursor: pointer;
}

input[type="search"]:hover {
    cursor: inherit;
}

button {
    display: flex;
    align-items: center;
    gap: var(--unit-micro);
    border: unset;
    border-radius: var(--unit-micro);
    padding: var(--unit-micro) var(--unit-default) var(--unit-micro) 0.8em;
    transition: 0.2s ease-in-out;
}
button:is(:hover, :focus) {
    background-color: var(--color-blue);
    color: var(--color-secundary);
}
a:focus-visible, button:focus-visible {
    border: var(--unit-pico) solid var(--color-primary);
    background-color: inherit;
    color: var(--color-primary);
    outline: unset;
}

/* Typografie */

mark {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: var(--unit-small);
    padding: var(--unit-small);
    background-color: var(--color-secundary-pure);
    border: 1px solid var(--color-accent-50);
    color: var(--color-primary-50);
}
/* Responsieve */
/* Navbar */
@media screen and (max-width: 800px) {
    /* nav {
        position: fixed;
        z-index: 3;
    } */
    
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    
    .nav-links {
        position: fixed;
        background: var(--beige);
        height: 50vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(60px at 90% -40%);
        -webkit-clip-path: circle(50px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    
    .nav-links.open {
        clip-path: circle(1000px at 90% -30%);
        -webkit-clip-path: circle(1000px at 90% -30%);
        pointer-events: all;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    
    .nav-links li:nth-child(8) {
        transition: all 0.5s ease 1.1s;
        margin: 0;
    }
    
    li.fade {
        opacity: 1;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .hero-content {
        padding: 0 10px;
        flex-direction: column;
    }

}
/* Mobile to tablet */
@media (max-width: 680px) {
    .nav-top-links {
        width: 100%;
        display: flex;  
        justify-content: end;
    }
    .hero-content{
        display: flex;
        justify-content: space-around;
    }
}
/* Footer */
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .footer-menu {
        text-align: left;
    }
    .footer-menu li {
        display: block;
        margin-bottom: 10px;
    }
}



