
:root {
    /* Eenheden */
    --margin-right: 80px;
    --margin-left: 80px;
    --unit-deca: 10rem;
    --unit-large: 2rem;
    --unit-default: 1rem;
    --unit-small: 0.5rem;
    --unit-micro: 0.25rem;
    --unit-nano: 0.125rem;
    --unit-pico: .5px;

    /* Kleuren */
    --grey: #6B7071;
    --dark-grey: #333333;
    --black: #000000;
    --white: #ffffff;
    --yellow: #FFE704;
    --beige:  #d2d2c7;
    --beige-2:#e0e0d8;
    --blue: #019CE0;
    --color-primary: #121212;
    --color-primary-50: #495057;
    --color-secundary: #f7f7f7;
    --color-secundary-pure: #fff;
    --color-accent-100: #aaa;
    --color-accent-75: #f0eded;
    --color-accent-50: #f0f0eb;
    --color-blue: #0594c6;

    /* Font */
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-weight-200:200;
    --font-weight-300:300;
    --font-weight-400:400;

    /* Schaduwen  */
    --shadow-default: 0px 2px 8px rgba(135, 135, 135, 0.1), 0px 4px 4px -2px rgba(135, 135, 135, 0.12), 0px 8px 16px -4px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:transparent;
    background-color: var(--beige);

}
/* Standaard stijl voor body */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: var(--font-weight-400);
    line-height: 1.5;
    color: var(--dark-grey);
    text-align: left;
    background-color: var(--beige);
    contain: layout style;
}


/* Interactief */
a {
    text-decoration: none;
    color: #000000;
}

a:hover, button:hover, input:hover {
    cursor: pointer;
}

input[type="search"]:hover {
    cursor: inherit;
}

[hidden] { 
    display: none !important;
}


a:focus-visible, button:focus-visible {
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: 0px; 

}

button {
    display: flex;
    align-items: center;
    gap: var(--unit-micro);
    border: unset;
    /* border-radius: var(--unit-micro); */
    padding: var(--unit-micro) var(--unit-default) var(--unit-micro);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
mark {
   color: var(--black);
   background-color: var(--white);
}

button {
    display: flex;
    align-items: center;
    gap: var(--unit-micro);
    border: unset;
    padding: var(--unit-micro) var(--unit-default) var(--unit-micro) 0.8em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
button:is(:hover, :focus) {
    background-color: var(--color-blue);
    color: var(--color-secundary);
}
a:focus-visible, button:focus-visible {
    border: var(--unit-pico) solid var(--color-primary);
    background-color: inherit;
    color: var(--color-primary);
    outline: unset;
}

/* Typografie */

mark {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: var(--unit-small);
    padding: var(--unit-small);
    background-color: var(--color-secundary-pure);
    /* border: 1px solid var(--color-accent-50); */
    color: var(--color-primary-50);
}





