/* Variabelen */
:root {
    /* Eenheden */
    --margin-right: 80px;
    --margin-left: 80px;
    --unit-deca: 10rem;
    --unit-large: 2rem;
    --unit-default: 1rem;
    --unit-small: 0.5rem;
    --unit-micro: 0.25rem;
    --unit-nano: 0.125rem;
    --unit-pico: .5px;

    /* Kleuren */
    --grey: #6B7071;
    --dark-grey: #333333;
    --black: #000000;
    --white: #ffffff;
    --yellow: #FFE704;
    --beige:  #d2d2c7;
    --beige-2:#e0e0d8;
    --blue: #019CE0;
    --color-primary: #121212;
    --color-primary-50: #495057;
    --color-secundary: #f7f7f7;
    --color-secundary-pure: #fff;
    --color-accent-100: #aaa;
    --color-accent-75: #f0eded;
    --color-accent-50: #f0f0eb;
    --color-blue: #0594c6;

    /* Font */
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-weight-200:200;
    --font-weight-300:300;
    --font-weight-400:400;

    /* Schaduwen  */
    --shadow-default: 0px 2px 8px rgba(135, 135, 135, 0.1), 0px 4px 4px -2px rgba(135, 135, 135, 0.12), 0px 8px 16px -4px rgba(0, 0, 0, 0.2);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

  ::-webkit-scrollbar {
    display: none; 
  }

/* Standaard stijl voor HTML */
html {
    font-family: var(--font-family-sans-serif);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:transparent;
    background-color: var(--beige);
}

/* Standaard stijl voor body */
body {
    margin: 0;
    font-size: var(--unit-default);
    font-weight: var(--font-weight-400);
    line-height: 1.5;
    color: var(--dark-grey);
    text-align: left;
    background-color: var(--beige);
}

/* Stijlen voor titels */
h1 {
    text-align: center;
    font-size: 1.8em;
    color: var(--black);
    margin-top:20px;
}

/* Stijlen voor titels */
 h2 {
    font-size: 1.5rem;
    line-height: 1.17;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

/* Interactief */
a {
    text-decoration: none;
    color: var(--black);
}

[hidden] { 
    display: none !important;
}

/* Standaard stijl voor buttons */
button {
    display: flex;
    align-items: center;
    gap: var(--unit-micro);
    border: unset;
    padding: var(--unit-micro) var(--unit-default) var(--unit-micro);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* Typografie */
mark {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: var(--unit-small);
    padding: var(--unit-small);
    background-color: var(--color-secundary-pure);
    color: var(--color-primary-50);
}

/* Focus-stijlen */
a:focus-visible, button:focus-visible{
    outline: 2px solid var(--black);
    outline-offset: 3px; 
    border-radius: 1px;
}
a .carousel-items:focus-visible{
    outline: 2px solid var(--black);
    outline-offset: 3px; 
    border-radius: 1px;
}

/* Stijlen voor containers */
.container {
    display: flex;
    align-items: center;
}

/* Verticale uitlijning voor SVG-afbeeldingen */
.icon {
    vertical-align: middle;
}

/* Verwijder standaardmarges van paragrafen */
p {
    margin: 0;
    font-weight: var(--font-weight-400);
}

/* Stijlen voor SVG-afbeeldingen */
svg {
    width: 38px;
}

/* Stijlen voor duurzame ontwikkelingsdoelen afbeeldingen */
.susDevGoal {
    width: 50px;
    height: 50px;
    transition: transform 0.2s, background-color 0.2s; 
}
.sdgImage:hover {
    transform: scale(1.2); 
}
.sdgImage {
    display: block;
    margin-top: auto;
    width: 50px;
    height: 50px;
} 

 